@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
  font-family: poppins; 
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(71, 68, 68);

  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  top: 0;
  background-color: #03031fcc;
    
}


